/* my_app.css */

#screen {
    layout: grid;
    grid-size: 2;
}

#screen > .panel-container {
    border: solid green;
    height: 100%;
    width: 100%;
}

#screen > .panel-container > .panel {
    content-align: center middle;
    height: 100%;
    width: 100%;
}